<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Timer</title>

    <style>
        table th,td {border: 1px solid blue;}
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

    <h1><b>This is the home page </b></h1>
    <h6>Or at least it should be!!!!!!</h6>

    <table style="width: 30%">
        <tr>
            <th>Food</th>
            <th>Ingredients</th>
        </tr>
        <tr>
            <td>Buger</td>
            <td>Chicken</td>
        </tr>


    </table>

</body>
</html>